@import '../../styles/utils/variables';

.bn-table {
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  height: 100%;

  &__header, &__row {
    display: flex;
    flex-wrap: nowrap;
  }

  &__header {
    font-family: $open-sans;
    background: $bn-blue2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    padding: 10px 13px;

    & > div {
      white-space: nowrap;
      cursor: default;
      position: relative;
      &::after {
        position: absolute;
        font-family: 'Material Icons';
        font-weight: 400;
        vertical-align: bottom;
        margin-left: 2px;
      }
      &.sortable {
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover, &:active {
          color: $bn-blue-light;
        }
        @media (hover: none) {
          &:hover, &:active {
            color: white;
          }
        }
      }
      &.active {
        font-weight: bold;
        &.sort-up {
          &::after {
            content: '\E316';
          }
        }
        &.sort-down {
          &::after {
            content: '\E313';
          }
        }
      }
    }
  }

  &__body {
    font-family: $roboto-mono;
    padding: 5px 0;
    height: calc(100% - 36px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__section-title {
    padding: 5px 13px;
    text-align: left;
    text-transform: uppercase;
    font-family: $open-sans;
    font-weight: bold;
    opacity: 0.4;
    cursor: default;
  }

  &__row {
    padding: 0 13px;
    cursor: default;
    &.divider {
      cursor: default;
      background-color: rgba(1,27,54,0.6);
      height: 20px;
    }
    &.selectable:not(.divider) {
      cursor: pointer;
      &:hover, &:focus, &:active {
        background-color: rgba(255,255,255,0.04);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
      }
    }
  }

  &__cell {
    cursor: inherit;
    /deep/ .material-icons {
      font-size: 1.2em;
      vertical-align: text-bottom;
    }
  }
}

.bn-table__section + .bn-table__section {
  margin-top: 10px;
}
