@import "../../styles/utils/variables";
@import "../../styles/base/typography";

:host {
  flex: 1 1 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  padding: 0;
  @extend .type3;
  line-height: 40px;
  z-index: 1;
  width: 100%;
  text-transform: capitalize;
  box-shadow: none;

  &:focus {
    outline: none;
  }

  &.active {
    background-color: $bn-blue-light1;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);
    font-weight: bold;
    z-index: 10;
  }
}
