@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';
@import '../../styles/base/typography';

bn-card {
  &.no-title {
    .bn-card__title {
      display: none;
    }
    .bn-card__body {
      top: 0;
    }
  }
}

.bn-card {
  background: $bn-blue3;
  overflow: hidden;
  position: relative;
  height: 100%;

  &:fullscreen {
    width: 100%;
  }

  &__title {
    position: relative;
    background: $bn-blue2;
    padding: 11px 17px;
    line-height: 17px;

    bn-card-title {
      @extend .type2;
      line-height: inherit;
      text-transform: uppercase;

      a {
        font-weight: normal;
        transition: all 0.3s ease;
        position: relative;
        padding-bottom: 6px;
        display: inline-block;
        &.active {
          font-weight: bold;
          pointer-events: none;
          color: $bn-blue-light3;
          box-shadow: inset 0 -2px 0 $bn-blue-light1;
        }
        &:hover, &:active {
          color: $bn-blue-light;
        }

        & + a {
          margin-left: 2em;
          &::before {
            content: '|';
            position: absolute;
            left: -1em;
            top: -1px;
            transform: translateX(-50%);
            color: white;
            font-weight: normal;
          }
        }
      }
    }

    .fullscreen {
      display: block;
      position: absolute;
      padding: 5px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.26s ease;
      opacity: 0.5;

      &:hover {
        opacity: 1;
        .material-icons {
          color: $bn-blue-light3;
        }
      }

      .material-icons {
        float: left;
        font-size: 18px;
        line-height: 1em;
        transition: color 0.26s ease;
      }
    }
  }

  &__toolbar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    z-index: 9;

    & > * {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__body {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
  }
}
