<app-table [rows]="filledorders">

  <app-table-column [prop]="'size'" [classList]="'col-4 col-sm-3'">
    <ng-template columnHeader>Size ({{symbols[0]}})</ng-template>
    <ng-template let-row="row" columnCell>
      <span class="bn-number" [innerHtml]="row.size | blockCurrency:symbols[0]"></span>
    </ng-template>
  </app-table-column>

  <app-table-column [prop]="'price'" [classList]="'col-4 col-sm-3'">
    <ng-template columnHeader>Price ({{symbols[1]}})</ng-template>
    <ng-template let-row="row" columnCell>
      <span class="bn-number" [innerHtml]="row.price | blockCurrency:symbols[1]"></span>
    </ng-template>
  </app-table-column>

  <!--<app-table-column [prop]="'fee'" [classList]="'d-none d-sm-block col-1 col-sm-2'">-->
    <!--<ng-template columnHeader>Fee ({{symbols[1]}})</ng-template>-->
    <!--<ng-template let-row="row" columnCell>-->
      <!--<span class="bn-number" [innerHtml]="row.price*row.size*0.05 | blockCurrency:symbols[1]"></span>-->
    <!--</ng-template>-->
  <!--</app-table-column>-->

  <app-table-column [prop]="'status'" [classList]="'d-none d-sm-block col-1 col-sm-2'">
    <ng-template columnHeader>Status</ng-template>
    <ng-template let-row="row" columnCell>
      <span>{{row.status}}</span>
    </ng-template>
  </app-table-column>

  <app-table-column [prop]="'created_at'" [classList]="'col-4 col-sm-2'">
    <ng-template columnHeader>Time</ng-template>
    <ng-template let-row="row" columnCell>
      <span>{{row.created_at | timeAgo}}</span>
    </ng-template>
  </app-table-column>

  <app-table-column [classList]="'col-2 d-none d-sm-block align-center'">
    <ng-template columnHeader>Product</ng-template>
    <ng-template let-row="row" columnCell>
      {{symbols[0]}}-{{symbols[1]}}
    </ng-template>
  </app-table-column>
</app-table>
