.big-tooltip-panel {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 20px;
  padding-bottom: 10px;
  z-index: 1001;
  font-size: 14px;
  border-radius: 5px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -0%);
}
.big-tooltip-title {
  width: 100%;
  border-bottom: 1px solid #aaa;
  color: #333;
  margin-bottom: 15px;
}
.big-tooltip-message li {
  padding-bottom: 15px;
}
.big-tooltip-message li:last-child {
  padding-bottom: 0px;
}
