@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "vendor/bootstrap";
@import "utils/variables";
@import "utils/mixins";
@import "base/typography";
@import "base/global";
@import "base/buttons";
@import "base/form";

.no-highlight {
  user-select: none;
}

.something {
  font-size: 20px;
  color: #f00;
}

a.refresh-wallets-button {
  color: #fff;
  line-height: 18px;
  height: 18px;
  width: 18px;

  &:hover {
    .material-icons {
      color: $bn-blue-light3;
    }
  }
}

i.refresh-wallets-icon {
  font-size: 18px;
}
/*
.debug {
  &::after {
    position: fixed;
    z-index: 20000;
    background: rgba(black,0.2);
    color: white;
    bottom: 0;
    right: 0;
    padding: 5px;
    pointer-events: none;
    content: 'default';
    @include screen(sm) {
      content: 'small';
    }
    @include screen(md) {
      content: 'medium';
    }
    @include screen(xm) {
      content: 'extra-medium';
    }
    @include screen(lg) {
      content: 'large';
    }
    @include screen(xl) {
      content: 'xlarge';
    }
  }
}
*/

.tooltip-icon {
  margin-left: 2px;
  color: #fff;
  font-size: 14px;
  opacity: 0.5;
  cursor: help;
}
