$bn-green: #1DEEB4;
$bn-red: #F48980;
$bn-blue1: #0A0F15; // background
$bn-blue2: #0D1B2D; // panel headings
$bn-blue3: #081625; // panel bodies
$bn-blue-light: #4794FF;  // sort icon
$bn-blue-light1: #006AFF; // buttons, primary/nudge
$bn-blue-light2: #0055CC; // not used
$bn-blue-light3: #70ACFF; // active tab, refresh/expand symbol hover color
$bn-blue-light4: #18293F; // input background, pair select scroll section background
$bn-blue-light5: #1e3a52; // pair selector header and tab
$bn-blue-light6: #ffffff; // menu hover color
$bn-blue-light7: #ffffff; // order form type select

$ibm-sans: 'IBM Plex Sans', sans-serif;
$ibm-mono: 'IBM Plex Mono', monospace;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;
