$bn-green: #00F4C5;
$bn-red: #FF7F71;
$bn-blue1: #051937; // background
$bn-blue2: #172e48; // panel headings
$bn-blue3: #0f2742; // panel bodies
$bn-blue-light: #4794FF;  // sort icon
$bn-blue-light1: #006AFF; // buttons, primary/nudge
$bn-blue-light2: #0055CC; // not used
$bn-blue-light3: #70ACFF; // active tab, refresh/expand symbol hover color
$bn-blue-light4: #133049; // input background, pair select scroll section background
$bn-blue-light5: #1e3a52; // pair selector header and tab
$bn-blue-light6: #67B0FB; // menu hover color
$bn-blue-light7: #ADCFFF; // order form type select

$open-sans: 'Open Sans', sans-serif;
$roboto-mono: 'Roboto Mono', sans-serif;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
