$bn-green: #00F4C5;
$bn-red: #FF7F71;
$bn-blue1: #051937; // background
$bn-blue2: #172e48; // panel headings
$bn-blue3: #0f2742; // panel bodies
$bn-blue-light: #4794FF;
$bn-blue-light1: #006AFF;
$bn-blue-light2: #0055CC; // not used
$bn-blue-light3: #70ACFF;
$bn-blue-light4: #133049; // input background
$bn-blue-light5: #1e3a52;
$bn-blue-light6: #67B0FB;
$bn-blue-light7: #ADCFFF;

$open-sans: 'Open Sans', sans-serif;
$roboto-mono: 'Roboto Mono', sans-serif;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
