<!--The content below is only a placeholder and can be replaced.-->
<div class="bn-header">
    <div class="bn-header__cell icon--">
      <img src="assets/icon_blk.png" height="40">
    </div>
    <div class="bn-header__cell currency--">
      <div class="bn-header__upper">ETH / BTC</div>
      <div class="bn-header__lower">Market Table &gt;</div>
    </div>
    <div class="bn-header__cell tradeprice--">
      <div class="bn-header__upper">4,621.29 USD</div>
      <div class="bn-header__lower">Last trade price</div>
    </div>
    <div class="bn-header__cell twentyfourprice--">
      <div class="bn-header__upper price_up">+3.09%</div>
      <div class="bn-header__lower">24 hour price</div>
    </div>
    <div class="bn-header__cell twentyfourvol--">
      <div class="bn-header__upper">16,344 BTC</div>
      <div class="bn-header__lower">24 hour volume</div>
    </div>
  <!-- <switcher></switcher> -->
</div>

<router-outlet></router-outlet>
