<app-table #balancesTable
  [sections]="sections">

  <app-table-column [sortable]="false" [classList]="'col-2'">
    <ng-template columnHeader><Localize context="balances" key="Asset"></Localize></ng-template>
    <ng-template let-row="row" columnCell>

      <span *ngIf="showWallet || row.coin !== 'Wallet'" class="bn-number">{{row.coin}}</span>

    </ng-template>
  </app-table-column>

  <app-table-column [sortable]="false" [classList]="'col-8'">
    <ng-template columnHeader><Localize context="balances" key="Available Balance"></Localize></ng-template>
    <ng-template let-row="row" columnCell>
      <span *ngIf="showWallet || row.coin !== 'Wallet'" [class]="row.priceClasses">
        <span class="bn-number" [innerHTML]="">{{row.amount | numberFormat : "1.6-6" | localizeDecimalSeparator }} </span>
      </span>
    </ng-template>
  </app-table-column>

</app-table>
