#midmarket-dash {
  position: absolute;
  left: 0;
  border-bottom: 1px dashed white;
  min-width: calc(100% - 105px);
}
#midmarket-data {
  position: absolute;
  right: 0;
  width: 105px;
  margin-top: -10px;
  display: inline;
  text-align: center;
}
#midmarket-price {
  display: block;
  font-family: "Roboto Mono", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
#midmarket-label {
  display: block;
  font-size: 10px;
  text-align: center;
}

.chart-holder {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: -10px;
  margin-top: -20px;
  margin-right: -20px;
  position: relative;

  .top-chart-container {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    width: calc(100% + 23px);
    height: calc(50% + 40px);
  }

  .bottom-chart-container {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    width: calc(100% + 23px);
    height: calc(50% + 20px);
    margin-top: -40px;
  }

  .midmarket-price-container {
    position: absolute;
    top: calc(50% + 19px);
    left: 0;
    right: 0;
  }

}
