#midmarket-dash {
  position: absolute;
  left: 0;
  border-bottom: 1px dashed white;
  min-width: calc(100% - 105px);
}
#midmarket-data {
  position: absolute;
  right: 0;
  width: 105px;
  margin-top: -10px;
  display: inline;
  text-align: center;
  text-shadow: 1px 1px #0f2742;
}
#midmarket-price {
  display: block;
  font-family: "Roboto Mono", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
#midmarket-label {
  display: block;
  font-size: 10px;
  text-align: center;
}

.chart-holder {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: -10px;
  margin-top: -20px;
  margin-right: -20px;
  position: relative;

  .top-chart-container {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    width: calc(100% + 23px);
    height: calc(50% + 40px);

    /*@media(max-height: 601px) {
      top: 10px;
      height: calc(50% + 22px);
    }
    @media(max-height: 328px) {
      top: 20px;
      height: calc(50% + 5px);
    }*/
  }

  .bottom-chart-container {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    width: calc(100% + 23px);
    height: calc(50% + 20px);
    margin-top: -40px;

    /*top: -40px;

    @media(max-height: 669px) {
      top: -30px;
    }
    @media(max-height: 601px) {
      top: -13px;
    }
    @media(max-height: 335px) {
      top: -5px;
      height: calc(50% + 30px);
    }
    @media(max-height: 328px) {
      top: 0px;
      height: calc(50% + 30px);
    }*/
  }

  .midmarket-price-container {
    position: absolute;
    top: calc(50% + 19px);
    left: 0;
    right: 0;
  }

}
