$midmarket-price-container-width: 200px;
$midmarket-price-container-height: 45px;
$midmarket-price-line-color: rgba(88, 104, 124, 1);

#midmarket-dash {
  position: absolute;
  left: 0;
  border-bottom: 1px dashed white;
  min-width: calc(100% - 105px);
}
#midmarket-price {
  display: block;
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
#midmarket-label {
  display: block;
  font-size: 12px;
  text-align: center;
  color: $midmarket-price-line-color;
}

.chart-holder {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .left-chart-container {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    width: 50%;
    height: calc(100% - 8px);
    margin-right: -10px;
    margin-left: 20px;
  }

  .right-chart-container {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    width: 50%;
    height: calc(100% - 8px);
    margin-left: -11px;
  }

  .midmarket-price-container {
    position: absolute;
    top: calc(40% - #{$midmarket-price-container-height} - 43px);
    width: $midmarket-price-container-width;
    left: 50%;
    margin-left:  calc(-1 * #{$midmarket-price-container-width} / 2 - 0px);
    min-height: $midmarket-price-container-height;
  }

  .midmarket-price-line {
    position: absolute;
    width: 2px;
    bottom: 43px;
    left: calc(50% - 0px);
    height: 60%;
    background-color: $midmarket-price-line-color;
  }

}
