<div class="container-fluid">

  <!-- Desktop -->
  <div class="row" *isBp="['lg', 'xl']">
    <bn-card class="sidebar col-lg" [allowFullscreen]="false">
      <bn-card-title>Order Form</bn-card-title>
      <bn-card-body>
        <orderform></orderform>
      </bn-card-body>
    </bn-card>

    <div class="content col-lg">
      <div class="trade_table row">
        <div class="trade_table__cell col-lg-6">
          <pricechart></pricechart>
        </div>

        <bn-card class="trade_table__cell col-lg-2">
          <bn-card-title>Depth Chart</bn-card-title>
          <bn-card-body>
            <depth></depth>
          </bn-card-body>
        </bn-card>

        <bn-card class="trade_table__cell col-lg-4">
          <bn-card-title>Order Book</bn-card-title>
          <bn-card-body>
            <orderbook></orderbook>
          </bn-card-body>
        </bn-card>

        <div #orders class="trade_table__cell orders col-lg-8">
          <openorders></openorders>
        </div>

        <bn-card class="trade_table__cell history col-lg-4">
          <bn-card-title>Trade History</bn-card-title>
          <bn-card-body>
            <tradehistory></tradehistory>
          </bn-card-body>
        </bn-card>

      </div>

    </div>
  </div>
  <!-- End Desktop -->

  <!-- Mobile and Tablet -->
  <div class="row" *isBp="['xs', 'sm', 'md']">
    <div #trade class="col">
      <orderform></orderform>
    </div>

    <div #book class="col">
      <orderbook></orderbook>
    </div>

    <div #charts class="col">
      <bn-tab-view>
        <bn-tab label="Price Chart">
          <ng-template #content>
            <pricechart></pricechart>
          </ng-template>
        </bn-tab>
        <bn-tab label="Depth Chart">
          <ng-template #content>
            <depth></depth>
          </ng-template>
        </bn-tab>
      </bn-tab-view>
    </div>

    <div #history class="col">
      <tradehistory></tradehistory>
    </div>

    <app-bottom-nav>
      <app-nav-button [views]="[trade]">Trade</app-nav-button>
      <app-nav-button [views]="[book]">Book</app-nav-button>
      <app-nav-button [views]="[charts]">Charts</app-nav-button>
      <!-- <app-nav-button [views]="[orders]">Orders</app-nav-button> -->
      <app-nav-button [views]="[history]">History</app-nav-button>
    </app-bottom-nav>

  </div>
  <!-- End Mobile and Tablet -->
</div>
