@import '../styles/vendor/bootstrap';
@import '../styles/utils/mixins';
@import '../styles/utils/variables';
@import '../styles/base/typography';

.container-fluid {
  position: absolute;
  top: 109px;
  bottom: 40px;
  left: 0;
  right: 0;
  overflow: auto;
  @include screen(lg) {
    bottom: 0;
    top: 90px;
  }
}

.trade_table {
  @include make-row();

  &__group {
    display: flex;
    flex-wrap: wrap;

    &.content {
      width: 100%;
      @include screen(lg) {
        width: calc(100% - 280px);
      }
      @include screen(xl) {
        width: calc(100% - 320px);
      }
    }
  }

  &__cell {
    @include make-col-ready();
    overflow-x: hidden;

    &.sidebar {
      @include screen(lg) {
        width: 280px;
      }
      @include screen(xl) {
        width: 320px;
      }
    }

    &.price {
      @include screen(lg) {
        @include make-col(6);
      }
    }

    &.depth {
      @include screen(lg) {
        @include make-col(2);
      }
    }

    &.book {
      @include screen(lg) {
        @include make-col(4);
      }
    }

    &.orders {
      @include screen(lg) {
        @include make-col(8);
      }
    }

    &.history {
      @include screen(lg) {
        @include make-col(4);
      }
    }
  }
}
