
<div class="bn-card bn-openorders">
  <!-- <div class="bn-card__FPO"></div> -->
  <div class="bn-card__title"> {{title}} </div>


  <div class="bn-table">
    <div class="row bn-table__header">
      <div class="col-1 d-none d-sm-inline-block">Type</div>
      <div class="col-4 col-sm-2">Price ({{symbols[1]}})</div>
      <div class="col-4 col-sm-2">Amount ({{symbols[0]}})</div>
      <div class="col-4 col-sm-2">Total ({{symbols[1]}})</div>
      <div class="col-4 d-none d-sm-inline-block">Date</div>
      <div class="col-1 d-none d-sm-inline-block">&nbsp;</div>
    </div>

    <div class="bn-table__body">
      <div class="row bn-table__row"  *ngFor="let openorder of openorders">
        <div class="col-1 d-none d-sm-inline-block {{openorder.side}}" style="text-transform: capitalize;">{{openorder.side}}</div>
        <div class="col-4 col-sm-2">{{formatNumber(openorder.price, symbols[1])}}</div>
        <div class="col-4 col-sm-2">{{formatNumber(openorder.size, symbols[0])}}</div>
        <div class="col-4 col-sm-2">{{formatNumber(openorder.price*openorder.size, symbols[1])}}</div>
        <div class="col-4 d-none d-sm-inline-block">{{openorder.created_at | date:'y-MM-dd HH:mm:ss' }}</div>
        <div class="col-1 d-none d-sm-inline-block" style="text-align: center;">X</div>
      </div>
    </div>
  </div>
</div>
