@import '../styles/utils/variables';

a.close {
  display: inline-block;
  color: white;
  opacity: 0.4;
  transition: all 0.3s ease;
  &:hover {
    color: $bn-blue-light1;
    opacity: 1;
  }
}

/deep/ .bn-table__row {
  &.sell {
    box-shadow: inset 2px 0 0 0 $bn-red;
  }
  &.buy {
    box-shadow: inset 2px 0 0 0 $bn-green;
  }
}
