<!--The content below is only a placeholder and can be replaced.-->
<div class="bn-card bn-openorders">
  <div class="bn-card__title"> {{title}} </div>
  <table class="tradeTable bn-openorders__table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Price (BTC)</th>
        <th>Amount (BTC)</th>
        <th>Total (ETH)</th>
        <th>Date</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="buy">Buy</td>
        <td>1234.12345678</td>
        <td>34.12345678</td>
        <td>2.00475000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06838500</td>
        <td>1234.20000000</td>
        <td>0.00058510</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06859100</td>
        <td>3.07229928</td>
        <td>1234.12345678</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06700000</td>
        <td>41.09217342</td>
        <td>10.20000000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="buy">Buy</td>
        <td>1234.12345678</td>
        <td>34.12345678</td>
        <td>2.00475000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06838500</td>
        <td>1234.20000000</td>
        <td>0.00058510</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06859100</td>
        <td>3.07229928</td>
        <td>1234.12345678</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06700000</td>
        <td>41.09217342</td>
        <td>10.20000000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="buy">Buy</td>
        <td>1234.12345678</td>
        <td>34.12345678</td>
        <td>2.00475000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06838500</td>
        <td>1234.20000000</td>
        <td>0.00058510</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06859100</td>
        <td>3.07229928</td>
        <td>1234.12345678</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06700000</td>
        <td>41.09217342</td>
        <td>10.20000000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="buy">Buy</td>
        <td>1234.12345678</td>
        <td>34.12345678</td>
        <td>2.00475000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06838500</td>
        <td>1234.20000000</td>
        <td>0.00058510</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06859100</td>
        <td>3.07229928</td>
        <td>1234.12345678</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06700000</td>
        <td>41.09217342</td>
        <td>10.20000000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="buy">Buy</td>
        <td>1234.12345678</td>
        <td>34.12345678</td>
        <td>2.00475000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06838500</td>
        <td>1234.20000000</td>
        <td>0.00058510</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06859100</td>
        <td>3.07229928</td>
        <td>1234.12345678</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06700000</td>
        <td>41.09217342</td>
        <td>10.20000000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="buy">Buy</td>
        <td>1234.12345678</td>
        <td>34.12345678</td>
        <td>2.00475000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06838500</td>
        <td>1234.20000000</td>
        <td>0.00058510</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06859100</td>
        <td>3.07229928</td>
        <td>1234.12345678</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06700000</td>
        <td>41.09217342</td>
        <td>10.20000000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="buy">Buy</td>
        <td>1234.12345678</td>
        <td>34.12345678</td>
        <td>2.00475000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06838500</td>
        <td>1234.20000000</td>
        <td>0.00058510</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06859100</td>
        <td>3.07229928</td>
        <td>1234.12345678</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06700000</td>
        <td>41.09217342</td>
        <td>10.20000000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="buy">Buy</td>
        <td>1234.12345678</td>
        <td>34.12345678</td>
        <td>2.00475000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06838500</td>
        <td>1234.20000000</td>
        <td>0.00058510</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06859100</td>
        <td>3.07229928</td>
        <td>1234.12345678</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06700000</td>
        <td>41.09217342</td>
        <td>10.20000000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="buy">Buy</td>
        <td>1234.12345678</td>
        <td>34.12345678</td>
        <td>2.00475000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06838500</td>
        <td>1234.20000000</td>
        <td>0.00058510</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06859100</td>
        <td>3.07229928</td>
        <td>1234.12345678</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
      <tr>
        <td class="sell">Sell</td>
        <td>0.06700000</td>
        <td>41.09217342</td>
        <td>10.20000000</td>
        <td>2017-08-31 12:02:39</td>
        <td>X</td>
      </tr>
    </tbody>
  </table>
</div>
