@import '../styles/utils/variables';

a.close {
  display: inline-block;
  opacity: 0.4;
  transition: opacity 0.26s ease;
  vertical-align: text-bottom;
  &:hover {
    opacity: 1;
    .material-icons {
      color: $bn-blue-light;
    }
  }

  .material-icons {
    float: left;
    transition: color 0.26s ease;
  }
}

/deep/ .bn-table__row {
  &.sell {
    box-shadow: inset 2px 0 0 0 $bn-red;
  }
  &.buy {
    box-shadow: inset 2px 0 0 0 $bn-green;
  }
}
