<div class="bn-card bn-orderbook">
  <div class="bn-card__title"> {{title}} </div>
  <div class="bn-card__body">

    <app-table #orderbookTable
      [selectable]="true" [rows]="rows"
      (onRowSelect)="onRowSelect($event)">
      <app-table-column [sortable]="false" [classList]="'col-4'">
        <ng-template columnHeader>Total</ng-template>
        <ng-template let-row="row" columnCell>
          <div class="percentBar asks bg-red"
            [class.bg-red]="row[4] == 'ask'"
            [class.bg-green]="row[4] == 'bid'"
            [ngStyle]="{'width.%': row[3]}"></div>
          <span *ngIf="row[4] !== 'divide'">{{row[1]*row[0] | blockCurrency:symbols[1]}}</span>
        </ng-template>
      </app-table-column>

      <app-table-column [sortable]="false" [classList]="'col-4'">
        <ng-template columnHeader>Amount ({{symbols[0]}})</ng-template>
        <ng-template let-row="row" columnCell>
          <span>{{row[1] | blockCurrency:symbols[0]}}</span>
        </ng-template>
      </app-table-column>

      <app-table-column [sortable]="false" [classList]="'col-4'">
        <ng-template columnHeader>Price ({{symbols[1]}})</ng-template>
        <ng-template let-row="row" columnCell>
          <span
            [class.color-red]="row[4] == 'ask'"
            [class.color-green]="row[4] == 'bid'">
            {{row[0] | blockCurrency:symbols[1]}}
          </span>
        </ng-template>
      </app-table-column>
    </app-table>

  </div>
</div>
