@import '../styles/utils/mixins';
@import '../styles/utils/variables';

.bn-card__body {
  position: relative;
  top: auto;
  bottom: auto;
  padding: 12px 8px;

  @include screen(lg) {
    padding: 24px 16px;
  }
}

form {
  padding: 0 4px;
}
