@import '../styles/utils/mixins';
@import '../styles/utils/variables';

bn-tab-view {
  height: 100%;

  & /deep/ {
    .tab-view__body {
      padding: 16px 8px;
      @include screen(md) {
        padding: 24px 16px;
      }
    }
  }
}

form {
  padding: 0 4px;
  overflow: hidden;
}

.order-form-total-input {
  opacity: .5;
}

#js-order-id {
  opacity: .5;
}

.order-form-button:enabled:hover {
  opacity: .9;
}

$submit-button-text-color: #213c54;
.order-form-buy-button {
  color: $submit-button-text-color;
  background-color: #4BF5C6;
}

.order-form-sell-button {
  color: $submit-button-text-color;
  background-color: #FB7F70;
}

.button-spacer {
  height: 8px;
  display: block;
  &.button-spacer-lg {
    height: 52px;
  }
}

.order-form-form {
  padding-left: 12px;
  padding-right: 12px;
}

.order-form-configuration-message-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(13,31,58, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.order-form-configuration-message-overlay p {
  z-index: 1000;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 450px;
  font-weight: bold;
}

.order-form-open-configuration-button {
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-form-new-addr {
  line-height: 26px;
  vertical-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  width: 100%;
  padding-right: 5px;
  margin-bottom: 1px;
  margin-top: 0px;
  text-align: right;
  text-decoration: underline;
  color: rgba(255,255,255,0.9);
}

.order-form-new-addr span {
  cursor: pointer;
  margin-left: -8px;
  margin-right: -8px;
  user-select: none;
  &:hover {
    opacity: .85;
  }
}

.select-order-type-label {
  margin-left: -4px;
  margin-right: -4px;
}

.order-type-select-container {
  background-color: #0d2f4b;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  //height: 30px;
  margin-top: 4px;
  margin-left: -4px;
  margin-right: -4px;
}

$radio-blue: #549def;

.order-form-type-select-box {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  position: relative;
  user-select: none;
  &.active {
    background-color: #183c56;
    .order-form-select-type-radio .radio-interior {
      display: block;
    }
  }

  .order-form-select-type-radio {
    border-color: $radio-blue;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 6px;

    &.order-form-select-type-radio-left {
      left: 5px;
    }
    &.order-form-select-type-radio-right {
      right: 5px;
    }

    .radio-interior {
      background-color: $radio-blue;
      position: absolute;
      left: 2px;
      top: 2px;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      display: none;
    }
  }
}

.order-form-repost-order-label {
  line-height: 12px;
  vertical-align: center;
  font-size: 12px;
  text-align: right;
  margin-top: 8px;
  margin-bottom: 0;
  width: 100%;
  z-index: 1000;
  a {
    //margin-right: -4px;
    user-select: none;
    font-family: "Open Sans", sans-serif;
    color: rgba(255,255,255,0.9);
    text-decoration: none;
    &:hover,&:focus,&:active {
      text-decoration: none;
    }
    &:hover {
      opacity: .85;
    }
    i {
      margin-left: 4px;
      font-size: 14px;
    }
    &.disabled {
      color: #677689;
      cursor: default;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.order-form-amount-percentage-select-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  //margin-right: -8px;

  .order-form-amount-percentage-select-item {
    font-size: 10px;
    line-height: 20px;
    vertical-align: center;
    text-align: center;
    background-color: #133049;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 2px;
    min-width: 36px;
    &:hover {
      opacity: .85;
    }
    &.active {
      background-color: #213c54;
      opacity: 1;
    }
  }
}

//$popper-color: #f33;
//.popper {
//  opacity: .8;
//  background-color: $popper-color;
//  color: #000;
//  width: 300px;
//  padding: 5px 10px;
//  height: auto;
//  font-size: 13px;
//  border-radius: 2px;
//  border-color: lighten($popper-color, 20%);
//  border-style: solid;
//  border-width: 2px;
//}

.order-form-label {
  font-size: 11px;
}
