<div class="bn-card bn-orderform">
  <!-- <div class="bn-card__FPO"></div> -->
  <div class="bn-card__title"> {{ title }} </div>
  <div class="bn-card__subhead">
    <a (click)="selectedTab = 'buy'" [class.selected]="selectedTab == 'buy'">BUY</a>
    <a (click)="selectedTab = 'sell'" [class.selected]="selectedTab == 'sell'">SELL</a>
  </div>

  <div class="bn-card__body">
    <form (ngSubmit)="onOrderSubmit()" #orderForm="ngForm" id="market_order">
      <div class="input-group row">
        <label class="col-4 col-form-label" for="type">Type</label>
        <div class="col-8">
          <bn-select [options]="buyOrderTypes"
            (onSelectChange)="selectedBuyType = $event"
            placeholder="Choose a type"></bn-select>
        </div>
      </div>
      <span class="spacer"></span>

      <div class="input-group row">
        <label class="col-4 col-form-label" for="amount">Amount ({{symbols[0]}})</label>
        <div class="col-8">
          <input (keyup)="calcPrice($event)" class="form-control" name="amount" id="amount" type="text" placeholder="{{formatNumber(0.00000,symbols[0])}}" />
        </div>
      </div>

      <div class="input-group row">
        <label class="col-4 col-form-label" for="total">Total ({{symbols[1]}})</label>
        <div class="col-8">
          <input class="form-control" name="total" id="total_calc" type="text" placeholder="{{formatNumber(0.00000,symbols[1])}}" value="{{formatNumber(totalPrice,symbols[1])}}" disabled />
        </div>
      </div>
      <span class="spacer"></span>

      <div class="input-group row">
        <button type="submit">Place Buy Order</button>
      </div>
    </form>
  </div>


</div>
