@import '../styles/utils/mixins';
@import '../styles/utils/variables';

bn-tab-view {
  height: 100%;

  & /deep/ {
    .tab-view__body {
      padding: 16px 8px;
      @include screen(md) {
        padding: 24px 16px;
      }
    }
  }
}

@include screen(lg) {
  bn-card /deep/ {
    .bn-card, {
      height: auto;
    }
    .bn-card__body {
      position: relative;
      top: auto;
      bottom: auto;
    }
  }
}

form {
  padding: 0 4px;
}
