@import '../styles/utils/mixins';
@import '../styles/utils/variables';

bn-tab-view {
  height: 100%;

  & /deep/ {
    .tab-view__body {
      padding: 16px 8px;
      @include screen(md) {
        padding: 24px 16px;
      }
    }
  }
}

form {
  padding: 0 4px;
  overflow: hidden;
}

.order-form-total-input {
  opacity: .5;
}

#js-order-id {
  opacity: .5;
}

.order-form-button:enabled:hover {
  opacity: .9;
}

.order-form-buy-button {
  background-color: rgba(255, 255, 255, 0.06);
  color: #4BF5C6;
}

.order-form-sell-button {
  background-color: rgba(255, 255, 255, 0.06);
  color: #FB7F70;
}

.button-spacer {
  height: 8px;
  display: block;
}

.order-form-form {

}

.order-form-configuration-message-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(13,31,58, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.order-form-configuration-message-overlay p {
  z-index: 1000;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 450px;
  font-weight: bold;
}

.order-form-open-configuration-button {
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-form-new-addr {
  line-height: 26px;
  vertical-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  width: 100%;
  padding-right: 5px;
  margin-bottom: 1px;
  margin-top: 0px;
  text-align: right;
  text-decoration: underline;
  color: rgba(255,255,255,0.9);
}

.order-form-new-addr span {
  cursor: pointer;
}


//$popper-color: #f33;
//.popper {
//  opacity: .8;
//  background-color: $popper-color;
//  color: #000;
//  width: 300px;
//  padding: 5px 10px;
//  height: auto;
//  font-size: 13px;
//  border-radius: 2px;
//  border-color: lighten($popper-color, 20%);
//  border-style: solid;
//  border-width: 2px;
//}
