@import '../styles/utils/variables';
@import '../styles/utils/mixins';

app-table /deep/ {

  .bn-table__row {
    position: relative;
  }
  .bn-table__cell {
    position: static;
    span {
      position: relative;
      z-index: 1;
    }
  }
  .percentBar {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 2px;
    z-index: 0;
    padding: 0;
    //opacity: 0.30;
  }
  .orderbook-own-order-highlight {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 2px;
    z-index: 0;
    padding: 0;
    //background-color: rgba(133, 153, 0, 0.15) !important;
    //opacity: 0.075;
  }
  .orderbook-own-order-dot {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 6px;
    float: left;
    width: 8px;
    height: 8px;
    border-radius:50%;
    background-color: #fff;
  }
  .bn-table__section + .bn-table__section {
    margin-top: 0;
  }
}

.orderbook-container {
  height:100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.orderbook-table-outer-container-top {
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: hidden;
  position: relative;
}
.orderbook-table-outer-container-bottom {
  height: calc(50% - 22px);
  //min-height: calc(50% - 22px);
  //max-height: calc(50% - 22px);
  overflow-y: hidden;
  position: relative;
}
.orderbook-table-container {
  height: 100%;
}

.orderbook-divider {
  font-family: $roboto-mono;
  //padding: 0 17px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 13px;
  padding-right: 13px;
  line-height: 20px;
  background-color: rgba(1,27,54,0.6);
  //text-align: right;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 20px;

  .spread-container {
    padding-left: 4px;
    padding-right: 4px;
    //width: 92px;
    text-align: right;
    display: inline-block;
    flex-grow: 1;
    flex-basis: 0;

    span {
      opacity: 0.4;
      font-weight: bold;
    }

  }
}

.no-open-orders-message-top {
  font-family: $roboto-mono;
  font-size: 12px;
  margin-left: 10px;
  z-index:1000;
  position: absolute;
  margin-bottom: 4px;
  top: 28px;
}
.no-open-orders-message-bottom {
  font-family: $roboto-mono;
  font-size: 12px;
  margin-left: 10px;
  z-index:1000;
  position: absolute;
  margin-top: 4px;
  top: 0;
}

.spread {
  font-weight: bold;
  opacity: .4;
}
.orderbook-own-order {
  //color: rgba(133, 153, 0, 1); // gold hue
}
.red-bar {
  background-image: linear-gradient(to right, rgba(255,127,113,0.3), $bn-blue3);
  border-bottom: 1px solid rgba(23, 46, 72, 0.5);
}
.green-bar {
  background-image: linear-gradient(to right, rgba(0,244,197,0.3), $bn-blue3);
  border-bottom: 1px solid rgba(23, 46, 72, 0.5);
}

.orderbook-configuration-message-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(13,31,58, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.orderbook-configuration-message-overlay p {
  z-index: 1000;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 450px;
  font-weight: bold;
}

.orderbook-open-configuration-button {
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}










