@import '../styles/utils/mixins';
@import '../styles/utils/variables';

bn-tab-view {
  height: 100%;

  & /deep/ {
    .tab-view__body {
      padding: 16px 8px;
      @include screen(md) {
        padding: 24px 16px;
      }
    }
  }
}

form {
  padding: 0 4px;
  overflow: hidden;
}

.order-form-total-input {
  opacity: .5;
}
#js-order-id {
  opacity: .5;
}
.order-form-button:enabled:hover {
  opacity: .9;
}
.order-form-buy-button {
  background-color: rgba(255, 255, 255, 0.06);
  color: #4BF5C6;
}
.order-form-sell-button {
  background-color: rgba(255, 255, 255, 0.06);
  color: #FB7F70;
}

.button-spacer {
  height: 8px;
  display: block;
}

//$popper-color: #f33;
//.popper {
//  opacity: .8;
//  background-color: $popper-color;
//  color: #000;
//  width: 300px;
//  padding: 5px 10px;
//  height: auto;
//  font-size: 13px;
//  border-radius: 2px;
//  border-color: lighten($popper-color, 20%);
//  border-style: solid;
//  border-width: 2px;
//}
