<!-- <form>
  <select (change)="onChange($event.target.value)">
    <option *ngFor="let currency of currencies" value="{{currency}}">
      {{currency}}
    </option>
  </select>
</form> -->
<div style="z-index: 999; position: absolute; bottom:0; left: 0; color: white !important; background: #333; padding: 25px;">
  Example Links: <br /><br />
  <a style="color: white" [routerLink]="['/trading', 'ETH-BTC']">ETH-BTC</a><br /><br />
  <a style="color: white" [routerLink]="['/trading', 'BTC-USD']">BTC-USD</a>
</div>
