<!--The content below is only a placeholder and can be replaced.-->
<div class="bn-card bn-tradehistory">
  <div class="bn-card__title">
    {{title}}
  </div>
  <table class="tradeTable">
    <tr>
      <th>Amount (ETH)</th>
      <th>Price (BTC)</th>
      <th>Time</th>
    </tr>
    <tr *ngFor="let trade of tradehistory">
      <td><div class="percentBar {{trade.side}}" [ngStyle]="{'width.%': trade.percent}"></div> {{trade.size}}</td>
      <td class="{{trade.side}}">{{trade.price | number : '1.8-8'}}</td>
      <td>{{trade.time | date:'HH:mm:ss' }}</td>
    </tr>
  </table>
</div>
