app-table {
  /deep/ .bn-table__row {
    position: relative;
  }
  /deep/ .bn-table__cell {
    position: static;
    span {
      position: relative;
      z-index: 1;
    }
    img {
      margin-right: -17px;
    }
  }

  .percentBar {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 2px;
    z-index: 0;
    padding: 0;
    opacity: 0.3;
  }

  .arrow-icon {
    padding-right: 8px;
    margin-left: -6px;
    margin-bottom: 2px;
    font-size: 0.9rem;
    width: auto;
    height: 8px;

    @media(max-width: 1255px) {
      display:none;
    }
  }
}
