<div [@fadeInOut] (click)="active = false" class="overlay" *ngIf="active"></div>

<div (click)="active = !active" class="navbar-pricing__cell" [class.active]="active">
  <div class="navbar-pricing__cell_body">
    <div class="navbar-pricing__upper">{{symbols[0]}} / {{symbols[1]}}</div>
    <div class="navbar-pricing__lower">Select Market Pair</div>
  </div>
</div>

<div [@fadeInOut] class="pair-container" *ngIf="active">
  <header>
    <form>
      <div class="form-group row">
        <div class="col-4">
          <div class="input-group">
            <input type="text" placeholder="Select first coin">
          </div>
        </div>
        <div class="col-4">
          <div class="input-group">
            <input type="text" placeholder="second coin">
          </div>
        </div>
        <div class="col-4">
          <button type="submit">Select</button>
        </div>
      </div>
    </form>
  </header>
</div>
