<div [@fadeInOut] (click)="active = false" class="overlay" *ngIf="active"></div>

<div (click)="active = !active" class="navbar-pricing__cell" [class.active]="active">
  <div class="navbar-pricing__cell_body">
    <div class="navbar-pricing__upper">{{symbols[0]}} / {{symbols[1]}}</div>
    <div class="navbar-pricing__lower">Select Market Pair</div>
  </div>
</div>

<div [@fadeInOut] class="pair-container" *ngIf="active">
  <header>
    <form (ngSubmit)="onSubmit()" #pairForm="ngForm">
      <div class="form-group row">
        <div class="col-4">
          <div class="input-group">
            <input name="coinA" type="text"
              required placeholder="Select first coin"
              tabindex="1"
              (focus)="activeInputKey = 'coinA'"
              #coinA="ngModel" #input
              [(ngModel)]="model.coinA">
          </div>
        </div>
        <div class="col-4">
          <div class="input-group">
            <input name="coinB" type="text"
              required placeholder="second coin"
              tabindex="2"
              (focus)="activeInputKey = 'coinB'"
              [disabled]="!coinA.valid"
              #coinB="ngModel" #input
              [(ngModel)]="model.coinB">
          </div>
        </div>
        <div class="col-4">
          <button tabindex="0" type="submit" [disabled]="!pairForm.form.valid">Select</button>
        </div>
      </div>
    </form>
  </header>

  <app-table
    [rows]="rows"
    [selectable]="true"
    (onRowSelect)="onRowSelect($event)">

    <app-table-column [prop]="'coin'" [classList]="'col-2 align-left'">
      <ng-template columnHeader>Coin</ng-template>
      <ng-template let-row="row" columnCell>
        <span>{{row.coin}}</span>
      </ng-template>
    </app-table-column>

    <app-table-column [prop]="'currency'" [classList]="'col-2 align-left'">
      <ng-template columnHeader>Currency</ng-template>
      <ng-template let-row="row" columnCell>
        <span>{{row.currency}}</span>
      </ng-template>
    </app-table-column>

    <app-table-column [prop]="'last_price'" [classList]="'col-3'">
      <ng-template columnHeader>Last Price</ng-template>
      <ng-template let-row="row" columnCell>
        <span>{{row.last_price}}</span>
      </ng-template>
    </app-table-column>

    <app-table-column [prop]="'volume'" [classList]="'col-3'">
      <ng-template columnHeader>Volume</ng-template>
      <ng-template let-row="row" columnCell>
        <span>{{row.volume}}</span>
      </ng-template>
    </app-table-column>

    <app-table-column [prop]="'change'" [classList]="'col-2'">
      <ng-template columnHeader>% Change</ng-template>
      <ng-template let-row="row" columnCell>
        <span>{{row.change}}</span>
      </ng-template>
    </app-table-column>

  </app-table>

</div>
