@import '../../styles/utils/variables';

.navbar-pricing__cell {
  position: relative;
  margin-left: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: initial;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.05);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &_body {
    padding: 6px 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow:
        inset 1px  0 rgba(255, 255, 255, 0.24),
        inset -1px 0 0 rgba(255, 255, 255, 0.24);
      transition: all 0.3s ease;
      transition-delay: 0.2s;
    }
  }

  &.active {
    background-color: #133049;
    &::before {
      opacity: 1;
    }
    .navbar-pricing__cell_body::before {
      height: 1%;
      top: 50%;
      box-shadow:
        inset 1px 0 0 #133049,
        inset -1px 0 0 #133049;
      transition-duration: 0.1s;
      transition-delay: 0s;
    }
    .navbar-pricing__lower::after {
      content: 'keyboard_arrow_up';
    }
  }
}

.navbar-pricing__lower {
  &::after {
    content: 'keyboard_arrow_down';
    font-family: 'Material Icons';
    vertical-align: bottom;
    margin-left: 3px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,26,55,0.8);
}

.pair-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 580px;
  height: 60vh;
  background-color: #133049;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

  header {
    padding: 20px 30px 10px;
    background-color: rgba(255,255,255,0.05);
  }
}

form {
  .form-group {
    & > div:nth-child(1) {
      position: relative;
      padding-right: 15px;
      &::after {
        content: "/";
        transform: translateX(50%);
        position: absolute;
        line-height: 40px;
        font-size: 22px;
        right: 0;
        top: 0;
        opacity: 0.4;
        font-family: $open-sans;
      }
    }
    & > div:nth-child(2) {
      padding-left: 15px;
      padding-right: 10px;
    }
    & > div:nth-child(3) {
      padding-left: 10px;
    }
  }
}

app-table {
  /deep/ .bn-table {
    height: calc(100% - 70px);
  }
  /deep/ .bn-table__header {
  	background-color: rgba(255,255,255,0.05);
    padding: 10px 30px;
  }
  /deep/ .bn-table__row, /deep/ .bn-table__section-title {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.input-group {
  &::after {
    content: "search";
    font-family: "Material Icons";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.4;
  }
}

input {
  font-family: $open-sans;
}

.suggest {
  font: 12px/1em $open-sans;
  position: absolute;
  top: 50%;
  left: 16px;
  opacity: 0.4;
  transform: translateY(-50%);
}
