@import "../../styles/utils/variables";
@import "../../styles/base/typography";

:host {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  background-color: #133049;
  display: flex;
  overflow: hidden;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.2);
}

:host /deep/ [app-nav-item] {
  cursor: pointer;
  flex-grow: 1;
  border: none;
  background: none;
  color: white;
  padding: 0;
  @extend .type3;
  line-height: 40px;
  z-index: 1;

  &:focus {
    outline: none;
  }

  &.active {
    background-color: $bn-blue-light1;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);
    z-index: 10;
  }
}
