@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';
@import '../../styles/base/typography';

.material-icons {
  transition: color 0.26s ease;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9991;
  background: $bn-blue1;
}

.navbar-bar {
  padding: 12px 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);

  @include screen(lg) {
    justify-content: flex-start;
    padding: 18px 40px;
    border-bottom: none;
  }

  &.menu-active {
    background: $bn-blue-light5;
    @include screen(md) {
      background: inherit;
    }
  }
}

.navbar-brand {
  display: inline-block;
  img {
    float: left;
    height: 25px;

    @include screen(lg) {
      height: 60px;
    }
  }
}

app-pair-selector {
  @include screen(lg) {
    margin-left: 25px;
  }
}

.navbar-toggler {
  display: inline-block;
  cursor: pointer;

  &:hover {
    .material-icons {
      color: $bn-blue-light6;
    }
  }

  @include screen(lg) {
    margin-left: auto;
  }
  div {
    width: 17px;
    height: 1px;
    background-color: #FFF;
    margin: 5px 0;
  }
}

.navbar-collapse__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,26,55,0.8);
  z-index: 9992;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.navbar-collapse {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  font-family: $open-sans;
  font-size: 14px;
  line-height: 19px;
  background-color: $bn-blue-light4;
	box-shadow: -2px 0 4px 0 rgba(0,0,0,0.2);
  z-index: 9999;
  padding: 40px 34px;
  transform: translateX(100%);
  transition: transform 0.2s ease;
  will-change: transform;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include screen(md) {
    width: 320px;
  }

  &.active {
    transform: translateX(0);
  }

  .close {
    position: fixed;
    top: 12px;
    right: 16px;
    color: white;

    &:hover {
      .material-icons {
        color: $bn-blue-light6;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      line-height: 1em;
      &:first-child {
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0.5;
      }
      & + li {
        margin-top: 20px;
      }
    }

    & + ul {
      margin-top: 32px;
    }

    a {
      color: #FFFFFF;
      font-weight: 400;
      text-decoration: none;
      display: inline-block;

      &.current {
        font-weight: 700;
        color: $bn-blue-light3;
        border-bottom: 2px solid;
      }
    }
  }
}

.navbar-pricing {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  min-height: 58px;

  @include screen(lg) {
    min-height: unset;
    height: 90px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 290px;
  }

  &__cell {
    display: inline-block;

    @include screen(lg) {
      margin-left: 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .price_up {
      color: $bn-green;
      &::before {
        content: "+";
        margin-right: -0.2em;
      }
    }

    .price_down {
      color: $bn-red;
      &::before {
        content: "-";
        margin-right: -0.2em;
      }
    }
  }

  &__upper {
    @extend .type1;
    min-height: 24px;
  }

  &__lower {
    @extend .type3;
  }
}
