<nav class="navbar">
  <div class="navbar-bar" [class.menu-active]="pairSelectorActiveState">
    <a class="navbar-brand" [routerLink]="['/trading']">
      <img src="assets/icon.svg" alt="Blocknet Logo">
    </a>

    <app-pair-selector (onActiveStatus)="pairSelectorActiveState = $event"></app-pair-selector>

    <div (click)="toggleNav()" class="navbar-collapse__overlay" [class.active]="navCollapsed"></div>
    <div class="collapse navbar-collapse" [class.active]="navCollapsed">
      <a (click)="toggleNav()" class="close"><i class="material-icons">close</i></a>
      <ul>
        <li>Settings</li>
        <!--<li><a href="#">My Balances</a></li>-->
        <!--<li><a href="#">Setup Wallet</a></li>-->
        <li><a href="#" (click)="openGeneralSettings($event)">General Settings</a></li>
        <li><a href="#" (click)="openConfigurationWizard($event)">Add & Update Wallets</a></li>
        <!-- <li><a href="#" (click)="openSettings($event)">RPC Settings</a></li> -->
        <li><a href="#" (click)="checkForUpdates($event)">Check for Updates</a></li>
      </ul>
      <ul>
        <li>Information</li>
        <li><a href="#" (click)="openInformation($event)">Getting Started</a></li>
        <li><a href="#" (click)="openLink($event, 'api')">API</a></li>
        <li><a href="#" (click)="openLink($event, 'exchanges')">Buy BLOCK</a></li>
        <li><a href="#" (click)="openLink($event, 'faq')">FAQ</a></li>
        <li><a href="#" (click)="openLink($event, 'fees')">Fees</a></li>
        <li><a href="#" (click)="openLink($event, 'resources')">Resources</a></li>
        <li><a href="#" (click)="openNotices($event)">Terms of Service</a></li>
      </ul>
      <!-- <ul>
        <li>Support</li>
        <li><a href="#" (click)="openLink($event, 'community')">Community Forum</a></li>
      </ul> -->
      <ul>
        <li>Contact Us</li>
        <li><a href="#" (click)="openLink($event, 'community')">Discord</a></li>
        <li><a href="#" (click)="openLink($event, 'reddit')">Reddit</a></li>
        <li><a href="#" (click)="openLink($event, 'twitter')">Twitter</a></li>
      </ul>
      <ul>
        <li class="app-version"></li>
        <li class="app-version">v{{appVersion}} | Powered by Blocknet</li>
      </ul>
    </div>
    <a (click)="toggleNav()" class="navbar-toggler">
      <!-- <i class="left material-icons">menu</i> -->
      MENU
    </a>
  </div>

  <div class="navbar-pricing" *ngIf="currentPrice">

    <div class="navbar-pricing__cell">
      <div class="navbar-pricing__upper">
        <span class="d-none d-sm-inline" [innerHTML]="currentPrice.last | blockCurrency:symbols[1]:'8'"></span><span class="d-none d-sm-inline"> {{symbols[1]}}</span>
      </div>
      <div class="navbar-pricing__lower">Last trade price</div>
    </div>

    <div class="navbar-pricing__cell twentyfourprice--">
      <div class="navbar-pricing__upper price_{{currentPrice.priceStatus}}">
        {{currentPrice.priceDiff | percent:'1.2-2'}}
      </div>
      <div class="navbar-pricing__lower">24 hour price</div>
    </div>

    <div class="navbar-pricing__cell twentyfourvol--">
      <div class="navbar-pricing__upper">{{currentPrice._volume < 1 ? (currentPrice.volume | numberFormat : "1.8-8") : (currentPrice.volume | numberFormat : "1.0-0")}}<span class="d-none d-sm-inline"> {{symbols[0]}}</span></div>
      <div class="navbar-pricing__lower">24 hour volume</div>
    </div>
  </div>

</nav>
