<!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->

<nav class="navbar">
  <a class="navbar-brand">
    <img src="assets/icon_blk.png" alt="Blocknet Logo">
  </a>
  <currentprice [symbols]="symbols"></currentprice>
  <div class="collapse navbar-collapse" [class.active]="navCollapsed">
    <ul>
      <li>Account</li>
      <li><a href="#">My Balances</a></li>
      <li><a href="#">Setup Wallet</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
    <ul>
      <li>Support</li>
      <li><a href="#">Notices</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Fees</a></li>
      <li><a href="#">Help articles</a></li>
      <li><a href="#">Community Forum</a></li>
    </ul>
    <ul>
      <li>Contact Us</li>
      <li><a href="#">Email</a></li>
      <li><a href="#">Reddit</a></li>
      <li><a href="#">Twitter</a></li>
    </ul>
  </div>
  <a (click)="toggleNav()" class="navbar-toggler">
    <div></div>
    <div></div>
    <div></div>
  </a>
</nav>
