<nav class="navbar">
  <div class="navbar-bar" [class.menu-active]="pairSelectorActiveState">
    <a class="navbar-brand">
      <img src="assets/icon_blk.png" alt="Blocknet Logo">
    </a>

    <app-pair-selector (onActiveStatus)="pairSelectorActiveState = $event"></app-pair-selector>

    <div class="navbar-collapse__overlay" [class.active]="navCollapsed"></div>
    <div class="collapse navbar-collapse" [class.active]="navCollapsed">
      <a (click)="toggleNav()" class="close"><i class="material-icons">close</i></a>
      <ul>
        <li>Account</li>
        <li><a href="#">My Balances</a></li>
        <li><a href="#">Setup Wallet</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
      <ul>
        <li>Support</li>
        <li><a href="#">Notices</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Fees</a></li>
        <li><a href="#">Help articles</a></li>
        <li><a href="#">Community Forum</a></li>
      </ul>
      <ul>
        <li>Contact Us</li>
        <li><a href="#">Email</a></li>
        <li><a href="#">Reddit</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>
    <a (click)="toggleNav()" class="navbar-toggler">
      <i class="left material-icons">menu</i>
    </a>
  </div>

  <div class="navbar-pricing" *ngIf="currentPrice">

    <div class="navbar-pricing__cell">
      <div class="navbar-pricing__upper"
        innerHtml="{{currentPrice.last | blockCurrency:symbols[1]}} {{symbols[1]}}">
      </div>
      <div class="navbar-pricing__lower">Last trade price</div>
    </div>

    <div class="navbar-pricing__cell twentyfourprice--">
      <div class="navbar-pricing__upper price_{{currentPrice.priceStatus}}">
        {{currentPrice.priceDiff | percent:'1.2-2'}}
      </div>
      <div class="navbar-pricing__lower">24 hour price</div>
    </div>

    <div class="navbar-pricing__cell twentyfourvol--">
      <div class="navbar-pricing__upper">{{currentPrice.volume | number : "1.0-0"}} {{symbols[0]}}</div>
      <div class="navbar-pricing__lower">24 hour volume</div>
    </div>
  </div>

</nav>
