// .bn-card {
//   background: $bn-blue3;
//   overflow: hidden;
//   position: relative;
//   height: 100%;
//
//   &__title {
//     @extend .type2;
//     text-transform: uppercase;
//     background: $bn-blue2;
//     padding: 11px 17px;
//
//     &.tabbed {
//       & > a {
//         font-weight: normal;
//         transition: all 0.3s ease;
//         position: relative;
//         display: inline-block;
//         &.active {
//           font-weight: bold;
//           pointer-events: none;
//           color: $bn-blue-light3;
//         }
//         &:hover, &:active {
//           color: $bn-blue-light;
//         }
//
//         & + a {
//           margin-left: 2em;
//           &::before {
//             content: '|';
//             position: absolute;
//             left: -1em;
//             top: -1px;
//             transform: translateX(-50%);
//             color: white;
//             font-weight: normal;
//           }
//         }
//       }
//     }
//   }
//
//   &__subhead {
//     font-family: $open-sans;
//     background: $bn-blue2;
//     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
//     font-weight: 400;
//     text-align: right;
//   }
//
//   &__body {
//     position: absolute;
//     top: 40px;
//     bottom: 0;
//     width: 100%;
//   }
//
//   &.bn-orderform {
//
//     .bn-card__subhead {
//       a {
//         display: inline-block;
//         width: 49%;
//         border-bottom: 2px solid $bn-blue2;
//         text-align: center;
//         color: white;
//         text-decoration: none;
//         font-size: 12px;
//         padding-bottom: 7px;
//         transition: all 0.3s ease;
//
//         &:hover {
//           border-color: $bn-blue-light1;
//         }
//
//         &.selected {
//           border-color: $bn-blue-light2;
//           color: $bn-blue-light3;
//           font-weight: 700;
//         }
//       }
//     }
//   }
// }
