input:focus {
  outline: none;
}

input[type="text"] {
  border: none;
  padding: 13px 16px;
  background-color: #133049;
  font: 12px/14px $roboto-mono;
  color: white;

  &:focus {
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.24);
  }
}

.order-form {
  font-family: $open-sans;
  margin: 24px 16px;
  width: calc(100% - 32px);

  .form-group {
    margin-bottom: 1em;
  }

  &__label {
    background-color: #2d4058;
    font-size: 12px;
    padding: 0 0 0 10px !important;
    line-height: 40px;
    @include make-col-ready();
    @include make-col(4);
  }

  &__field {
    @include make-col-ready();
    @include make-col(8);
    background-color: #21364f;

    &:focus {
      background: #2d4058 !important;
    }
  }

  input[type=text],
  select {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #21364f;
    border: none;
    color: #FFFFFF;
    font-family: $open-sans;
    font-size: 12px;
    padding-left: 10px;

    &:disabled {
      color: #46576c;
    }
  }

  input[type=submit] {
    background: $bn-blue-light1;
    color: white;
    width: calc(100% - 32px);
    border: none;
    font-family: $open-sans;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    text-transform: uppercase;
    position: absolute;
    bottom: 24px;
    left: 16px;

    &:hover {
      background: $bn-blue-light1;
    }
  }
}
