form {
  &.form-inline {
    .input-group {
      display: inline-block;
    }
  }

  .spacer {
    height: 24px;
    display: block;
  }
}

.input-group {
  position: relative;
  background-color: $bn-blue-light4;

  input {
    width: 100%;
  }

  div[class^="col-"], div[class*="col-"] {
    &:first-of-type {
      padding-right: 0;
    }
    &:last-of-type {
      padding-left: 0;
    }
  }

  .col-form-label {
    font: 12px/40px $open-sans;
    margin: 0;
    padding-left: 12px;
    white-space: nowrap;
  	background-color: rgba(255,255,255,0.06);
  }

  & + .input-group {
    margin-top: 8px;
  }
}

button[type="submit"] {
  width: 100%;
}

input {
  &[disabled] {
    opacity: 0.4;
  }
  &:focus {
    outline: none;
  }
}

input[type="text"] {
  border: none;
  padding: 13px 16px;
  background: none;
  font: 12px/14px $roboto-mono;
  color: white;
  &::placeholder {
    color: white;
    opacity: 0.6;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.24);
  }
}
