body,
html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: $bn-blue1;
}

html {
  box-sizing: border-box;
  &.touch {
    &, body {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  position: relative;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.left { float: left; }
.right { float: right; }

.align-right { text-align: right !important; }
.align-left { text-align: left !important; }
.align-center { text-align: center !important; }

.capitalize { text-transform: capitalize; }

.color-red { color: $bn-red; }
.color-green { color: $bn-green; }

.bg-red { background-color: $bn-red; }
.bg-green { background-color: $bn-green; }

.bn-number {
  & > span {
    opacity: 0.4;
  }
}

.uppercase {
  text-transform: uppercase;
}

.notransition {
  transition: none !important;
}
