.debug {

 &:before {
    position: fixed;
    z-index: 20000;
    background: rgba(black,0.2);
    color: white;
    bottom: 0;
    right: 0;
    padding: 5px;
    content: 'default';
    @include screen(s) {
      content: 'small';
    }
    @include screen(m) {
      content: 'medium';
    }
    @include screen(xm) {
      content: 'extra-medium';
    }
    @include screen(l) {
      content: 'large';
    }
    @include screen(xl) {
      content: 'xlarge';
    }
  }
}

html, body {height:100%;}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


body {
  background: $bn-blue1;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.outer-column {
  @include make-col-ready();

  &.left-- {
    @include make-col(3);
  }

  &.right-- {
    @include make-col(9);
  }
}

.single-col,
.double-col,
.triple-col,
.quad-col,
.full-col {
  @include make-col-ready();
  @include make-col(2);
  // height: 800px;
  overflow: auto;
}

.double-col {
  @include make-col(4);
  height: auto;
}


.triple-col {
  @include make-col(6);
  height: auto;
}

.quad-col {
  @include make-col(8);
  height: auto;
}

.full-col {
  @include make-col(12);
  height: auto;
}

.bn-card {
  background: $bn-blue3;
  overflow: hidden;
  margin-bottom: 8px;
  position: relative;

  &__FPO {
    // display: none;
    position:absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
  }

  &__title {
    @extend .type2;
    text-transform: uppercase;
    background:$bn-blue2;
    padding: 11px 17px;
  }

  &__subhead {
    font-family: $open-sans;
    background:$bn-blue2;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    font-weight: 400;
    text-align: right;

  }


  &.bn-orderbook, &.bn-pricechart, &.bn-toprow {
    height: calc(60vh - 70px);
  }

  &.bn-tradehistory,  &.bn-openorders, &.bn-bottomrow, &.bn-watchlist {
    height: calc(40vh - 70px);
  }

  &.bn-balances {
    height: calc(20vh - 70px);
  }

  &.bn-orderform {
    height: calc(40vh - 8px);

    .bn-card__subhead {
      a {
        display: inline-block;
        width: 49%;
        border-bottom: 2px solid $bn-blue2;
        text-align: center;
        color: white;
        text-decoration: none;
        font-size: 12px;
        padding-bottom: 7px;

        &:hover { border-color: $bn-blue-light1; }
        &.selected { border-color: $bn-blue-light2; color: $bn-blue-light3; font-weight: 700; }
      }
    }
  }



}

.tradeTable {
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  line-height: 0.9;
  border-collapse: collapse;

  thead, tbody {
    display: block;
  }


  tbody {
    overflow: scroll;
    height: calc(100% - 70px);

    .bn-orderbook & {
      height: calc(50% - 35px);
    }
  }




  tr {
    &:hover {
      background-color: rgba(255,255,255,0.04);
    }

    &:nth-child(2) {
      td {
        padding-top: 5px;
      }
    }
  }

  th, td {
    padding: 10px 5px;
    width: 999px; // TODO: Fix this awful HACK

    &:last-child {
      padding-right: 10px;
    }
  }

  th {
    font-family: $open-sans;
    background:$bn-blue2;
    margin-bottom: 100px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    font-weight: 400;
    text-align: right;
  }

  td {
    font-family: $roboto-mono;
    text-align: right;
    padding: 5px 5px 5px 20px;
    position: relative;
    height: 14px;
  }

  td,
  tr {
    &.asks,
    &.buy {
      color: $bn-red;
    }

    &.bids,
    &.sell {
      color: $bn-green;
    }
  }

  .percentBar {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1px;
    z-index: 0;


    &.asks,
    &.buy {
      background: $bn-red;
    }

    &.bids,
    &.sell {
      background: $bn-green;
    }
  }
}


.bn-header {
  padding: 20px 8px;
  position: relative;

  &__cell {
    display: inline-block;
    padding: 6px 29px 8px 23px;
    min-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &.currency--, &.tradeprice-- {
      border-left: 1px solid rgba(255,255,255,.24);
    }

    .price_up { color: $bn-green; }
    .price_down { color: $bn-red; }
  }

  &__upper {
    @extend .type1;
  }

  &__lower {
    @extend .type3;
  }

  &__menu {
    position: absolute;
    right: 0;
    top: 25px;
    list-style: none;

    font-family: $open-sans;
    font-size: 14px;
    line-height: 19px;

    a {
      color: #FFFFFF;
      font-weight: 400;
      text-decoration: none;

      &.current {
        font-weight: 700;
        color: $bn-blue-light3;

        border-bottom: 2px solid;
      }
    }

    li {
      float: left;
      margin-right: 32px;
    }

    .menu-button {
      div {
        width: 17px;
        height: 1px;
        background-color: #FFF;
        margin: 5px 0;
      }
    }
  }
}


.chart-holder {
  width: 100%;
  height: 100%;

  #chartdiv {
    width: 100%;
    height: calc(100% - 40px);
  }
}

#tv_chart_container {
  position: relative;
  height: calc(100% - 40px);
}

.bn-openorders {
  &__table {
    th, td {
      // width: calc(20% - 3px); // TODO: Fix this awful HACK
      line-height: 1.25;

      &:nth-child(1) {
        width: 100px;
      }

      &:last-child {
        width: 30px;
      }
    }
  }
}


.order-form {
  font-family: $open-sans;
  margin: 24px 16px;
  width: calc(100% - 32px);

  .form-group {
    margin-bottom: 1em;
  }

  &__label {
    background-color: #2d4058;
    font-size: 12px;
    padding: 0 0 0 10px !important;
    line-height: 40px;
    @include make-col-ready();
    @include make-col(4);
  }

  &__field {
    @include make-col-ready();
    @include make-col(8);
    background-color: #21364f;

    &:focus {
      background: #2d4058 !important;
    }
  }

  input[type=text], select {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #21364f;
    border: none;
    color: #FFFFFF;
    font-family: $open-sans;
    font-size: 12px;
    padding-left: 10px;

    &:disabled {
      color: #46576c;
    }
  }

  input[type=submit] {
    background: $bn-blue-light1;
    color: white;
    width: calc(100% - 32px);
    border: none;
    font-family:$open-sans;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    text-transform: uppercase;
    position: absolute;
    bottom: 24px;
    left: 16px;

    &:hover {
      background: $bn-blue-light1;
    }
  }
}
