@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@300;400&display=swap');

body {
  font-size: 16px;
}

.type1 {
  font: 18px/24px $ibm-sans;  /* 18px/24px */
  font-weight: 600;
}

.type2 { // TYPE 2 | IBM SANS, 13/20
  font: 13px/20px $ibm-sans;
  font-weight: 500;
}

.type3 { // Type 3  | IBM Sans 12/18
  font: 12px/18px $ibm-sans;
  font-weight: 400;
}

.type4 { // Type 4 | Roboto Mono 12/16, Paragraph 4
  font: 12px/16px $ibm-mono;
  font-weight: 400;
}
